<!DOCTYPE html>
<head>
	<title>Task List</title>
	<link rel="stylesheet" href="./css/main.css"/>
	<link rel="icon" type="image/x-icon" href="./img/to-do-list.jpg">
</head>
<body>
	<header>
		<h1>Task List</h1>
		<form id="new-task-form" method="POST" action="/">
			<input type="text" name="task" id="new-task-input" placeholder="Write Your Task" required />
			<button id="new-task-submit">Add Task</button>
		</form>
	</header>
	<main>
		<section class="task-list">
			<h2>Tasks</h2>
			<% arrTask.forEach(element=> { %>
				<div id="tasks">
					<div class="task">
						<div class="content">
							<input type="text" class="text" value="<%= element.task %>" readonly>
						</div>
						<div class="actions">
							<a class="delete <%= element._id %>" href="">Delete</a>
						</div>
					</div>
				</div>
				<% }); %>
				<center>
				<a href="">	<button class="delete-all" >Delete - All</button></a>
				</center>
		</section>
	</main>
	<script src="./js/main.js"></script>
</body>
</html>